@charset "UTF-8";

section#conteudo{
    width: 1000px;
    margin: auto;

}
inframe#frame-spec{
    width: 400px;
    height: 280px;
    border: nome;
    overflow: hidden;
}

inframe#frame-spec::-webkit-scrollbar{
    display: none;

}